@mixin boxShadow($x, $y, $blur, $spread, $color){
    -moz-box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}

@mixin flexCenter($jc, $fd, $aligni:'normal'){
    display: flex;
    justify-content: $jc;
    flex-direction: $fd;
    align-items: $aligni;
}


@mixin link($color, $fweight, $textd){
    color: $color;
    font-weight: $fweight;
    text-decoration: $textd;
    
}