@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.nav {
    &__container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;

    }
    &__inner {
        @include flexCenter(space-between, row);
        display: flex;
        justify-content: space-between;
        padding: 0 15px !important;
    }
    &__item {
        &-link {
            @include link(#fff, bold, none, 1.06rem);
            padding: .6rem 1rem;
            transition: background-color .2s, color .2s;
            border: 2px solid #fff;
            border-radius: 5px;
        } 
        
        
    }
}

a:hover {
    color: $black;
    background-color: #fff;
}