@import '../mixins.scss';

.nav {

    &__inner {
        @include flexCenter(space-between, row);
    }
    &__item {

        
        
    }
    &__input{
        padding: .33rem .66rem;
        @include flexCenter(center, row, center);
        background-color: rgba(#fff, .15);

        &-input {
            margin-left: .66rem;
            color: #fff !important;
            width: 200px;

            &:focus {
                width: 300px;
            }
        }
    }
}