@import '../mixins.scss';

.nav {
    &__container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }
    &__inner {
        @include flexCenter(space-between, row);
    }
    &__item {
        &-link {
            @include link(#fff, 500, none, 1.3rem);

        } 
        
        
    }
}